@import "reset.css";

body {
	font-family: "Myraid Pro", Arial, sans-serif;
}

header, main, footer { max-width: 500px; margin: auto; padding: 20px 0;}

header { text-align: center; }
h1 { font-size: 25px; }
p { margin: 10px 0;}

#board { width: 300px; margin: auto; }

.cell {
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    float: left;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    cursor: default;
}
.cell[data-mark=""] { cursor: pointer; }

.row:first-child .cell { border-bottom: 1px solid; }

.row:last-child .cell { border-top: 1px solid; }

.row .cell:first-child { border-right:  1px solid; }

.row .cell:last-child { border-left: 1px solid; }